.header {
    padding-bottom: 2rem;
    padding-left: 1rem;
    font-family: "Newsreader";
    font-weight: 300;
}

.description {
    font-weight: 300;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    padding-left: 1rem;
}

.break {
    color: transparent;
}

.icons {
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 5%;
    padding-left: 1rem;

}

